/*FONTS*/

@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Quicksand:wght@600&display=swap');

/*Variables*/

$my-font: 'Quicksand',
sans-serif;
$title-font: 'Abril Fatface',
cursive;
$my-variable: 42px;
$title-center: center;
$break-small: 640px;
$text-style: 'main-text';

/*COLORS*/

$main-background-color: #BCA4B2;
$background-low: #dfc5d4;
$background-higd: #A24F91;
$headlines-color-yellow: rgb(8,
240,
248);
$input-color: white;
$headlines-color: white;
$text-color: #000000;
$color-medium: #171e31;
$color-low: #022C67;
$color-too-low: #003F8D;
$text-color-magic: $background-higd;

/*MIXIN VARIABLES*/


/*Pading*/

@mixin pading-for-container {
    padding: 2%;
    width: 95%;
    margin-top: 2%;
    margin-bottom: 2%;
}

@mixin container {
    box-shadow: 0 0 1rem 0 $background-higd;
    border-radius: 5px;
    position: relative;
    z-index: 1;
    background: inherit;
    overflow: hidden;
}

@mixin container-before {
    content: "";
    position: absolute;
    background: inherit;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    box-shadow: inset 0 0 2000px $main-background-color;
    filter: blur(10px);
    margin: -20px;
}

@mixin container-grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

@mixin image-background {
    background: linear-gradient(to right, rgb(240, 198, 227, .6), rgb(240, 198, 227, .6)), url("https://images.unsplash.com/photo-1674677774501-638cc4010c1b?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1471&q=80");
    box-sizing: border-box;
    border-radius: 5px;
}

@mixin image-background1 {
    background: linear-gradient(to right, $main-background-color, $background-low);
    box-sizing: border-box;
    border-radius: 5px;
}

@mixin image-background2 {
    background: linear-gradient(to right, rgba(31, 16, 119, 0.6), rgba(31, 16, 119, 0.6));
    box-sizing: border-box;
    border-radius: 5px;
    color: $input-color;
}

@mixin image-background3 {
    background: linear-gradient(to right, rgba(7, 2, 32, 0.6), rgba(7, 2, 32, 0.6));
    box-sizing: border-box;
    border-radius: 5px;
    color: $input-color;
}

@mixin image-background4 {
    background: linear-gradient(to right, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
    box-sizing: border-box;
    border-radius: 5px;
    color: $input-color;
}

@mixin image-background5 {
    background: linear-gradient(to right, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("https://images.unsplash.com/photo-1554050857-c84a8abdb5e2?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1527&q=80");
    box-sizing: border-box;
    border-radius: 5px;
    color: $input-color;
    padding: 3%;
}

@mixin image-background6 {
    background: linear-gradient(to right, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("https://images.unsplash.com/photo-1517504734587-2890819debab?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1507&q=80");
    background-size: cover;
    box-sizing: border-box;
    border-radius: 5px;
    color: $input-color;
    padding: 3%;
}

@mixin background-fotter {
    background: rgb(35, 18, 99);
    height: 15%;
    margin-bottom: 100px;
    grid-column: 1/13;
    grid-row: 5/6;
}

@mixin text-paragraph {
    font-family: $my-font;
    font-size: 2em;
    padding-bottom: 4%;
}

@mixin text-paragraph2 {
    font-family: $my-font;
    font-size: 1.5em;
    padding-bottom: 4%;
}

@mixin text-title {
    font-family: $title-font;
    font-size: 4em;
    letter-spacing: 0.15em;
    word-spacing: 0.15em;
    width: 90%;
}

@mixin text-title2 {
    font-family: $title-font;
    font-size: 2em;
    letter-spacing: 0.10em;
    word-spacing: 0.10em;
    width: 90%;
    color: $text-color;
}

@mixin footer {
    text-align: center;
    text-decoration: none;
    color: $input-color;
    margin-left: 10px;
    margin-right: 10px;
    padding: 10px 20px;
    border-radius: 10px;
}

@mixin decoration-none {
    display: block;
    color: $input-color;
    text-decoration: none;
}

@mixin abbr-style {
    color: $headlines-color-yellow;
    font-weight: bold;
    text-decoration: none;
}


/* --------ASIDE------- */

@mixin aside {
    li {
        width: 90%;
        text-align: center;
        margin: 5%;
        padding: 5%;
        background-color: $background-higd;
        border-radius: 5%;
    }
}

@mixin style-none {
    padding: 5%;
    list-style: none;
    overflow: hidden;
    ul,
    li,
    a {
        display: block;
        padding: 2%;
        color: $input-color;
        text-decoration: none;
        font-size: 1.1em;
    }
    li:hover {
        background: $color-too-low;
        color: $input-color;
        font-weight: 700;
    }
    a:hover {
        background: $background-low;
        color: $text-color-magic;
        font-weight: 700;
    }
}


/* --------SMALL VIEW--------*/

@mixin small-main {
    .main h3 {
        @include text-title2
    }
    .main p {
        @include text-paragraph2;
    }
    .main .explanation {
        grid-column: 4/12;
        grid-row: 1/2;
    }
    .main .participation {
        grid-column: 4/12;
        grid-row: 2/3;
    }
    .main .benefits {
        grid-column: 4/12;
        grid-row: 3/4;
    }
    .main .requirements {
        grid-column: 4/12;
        grid-row: 4/5;
    }
    .main footer {
        grid-column: 1/4;
        grid-row: 1/5;
        height: 90%;
        border-radius: 15px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    .intro {
        grid-column: 5/13;
        grid-row: 1/2;
    }
    .main {
        grid-column: 1/13;
        grid-row: 2/3;
    }
    .sidebar {
        @include image-background5;
        grid-column: 1/13;
        grid-row: 3/4;
    }
    .extra1 {
        grid-column: 1/13;
        grid-row: 2/3;
    }
    div.extra1::after {
        content: "Some animations";
        writing-mode: horizontal-tb;
    }
    .extra2 {
        grid-column: 1/13;
        grid-row: 3/4;
    }
    .extra3 {
        grid-column: 1/13;
        grid-row: 4/5;
    }
    .extra4 {
        grid-column: 1/13;
        grid-row: 5/6;
    }
    .extra5 {
        grid-column: 1/13;
        grid-row: 6/7;
    }
    .extra6 {
        grid-column: 1/13;
        grid-row: 7/8;
    }
}


/* --------MEDIUM VIEW--------*/

@mixin medium-main {
    .intro {
        grid-column: 1/5;
        grid-row: 1/2;
    }
    .main {
        grid-column: 5/13;
        grid-row: 1/2;
        margin-top: 240px;
    }
    .main .explanation {
        grid-column: 4/12;
        grid-row: 1/2;
    }
    .main .participation {
        grid-column: 4/12;
        grid-row: 2/3;
    }
    .main .benefits {
        grid-column: 4/12;
        grid-row: 3/4;
    }
    .main .requirements {
        grid-column: 4/12;
        grid-row: 4/5;
    }
    .main footer {
        grid-column: 1/4;
        grid-row: 1/5;
        height: 90%;
        border-radius: 15px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    .intro {
        grid-column: 5/13;
        grid-row: 1/2;
    }
    .main {
        grid-column: 1/13;
        grid-row: 2/3;
    }
    .sidebar {
        @include image-background5;
        grid-column: 1/13;
        grid-row: 3/4;
    }
    .extra1 {
        grid-column: 1/13;
        grid-row: 2/3;
    }
    .extra2 {
        grid-column: 1/13;
        grid-row: 3/4;
    }
    .extra3 {
        grid-column: 1/13;
        grid-row: 4/5;
    }
    .extra4 {
        grid-column: 1/13;
        grid-row: 5/6;
    }
    .extra5 {
        grid-column: 1/13;
        grid-row: 6/7;
    }
    .extra6 {
        grid-column: 1/13;
        grid-row: 7/8;
    }
}


/* -----------Animations ---------*/


/* extra1*/

@mixin extra-square {
    @include image-background6;
    width: 100%;
    height: 100%;
    float: left;
    position: relative;
    z-index: 2;
    transition: all 1s ease-out;
}

.extra1 {
    transform: translateX(-100%);
}

.extra1:hover {
    transform: translateX(-30%);
}

div.extra1::after {
    text-align: right;
    font-size: 2.5em;
    font-family: $title-font;
    padding-left: 40%;
    content: "The Beauty of CSS ✔️TEAM 7";
    writing-mode: vertical-rl;
}


/*extra2*/

@mixin extra-square2 {
    width: 200px;
    height: 200px;
    background: $background-low;
    position: relative;
    animation: animacuadrado2 5s infinite;
    margin: 3%;
}

@keyframes animacuadrado2 {
    0% {
        top: 0px;
        left: 0px;
        @include image-background2;
    }
    25% {
        top: 0px;
        left: 30px;
        @include image-background3;
    }
    50% {
        top: 30px;
        left: 30px;
        @include image-background4;
    }
    75% {
        top: 30px;
        left: 0px;
        @include image-background5;
    }
    100% {
        top: 0px;
        left: 0px;
        @include image-background;
    }
}


/* extra3*/

@mixin extra-square3 {
    width: 200px;
    height: 200px;
    padding: 20px;
    background: $color-low;
    position: relative;
    animation: animacuadrado3 1s ease-in 2s infinite alternate;
}

@keyframes animacuadrado3 {
    from {
        top: 0px;
        left: 0px;
    }
    to {
        top: 150px;
        left: 150px;
    }
}


/* extra4*/

@mixin ball {
    margin: 20%;
    width: 400px;
    height: 400px;
    border-radius: 50%;
    background-color: $color-medium;
    animation: bounce 0.5s;
    animation-direction: alternate;
    animation-timing-function: cubic-bezier(.5, 0.05, 1, .5);
    animation-iteration-count: infinite;
}

@keyframes bounce {
    from {
        transform: translate3d(100px, 0, 0);
    }
    to {
        transform: translate3d(0, 100px, 200px);
    }
}


/*extra5*/

@mixin extra-square5 {
    margin: 20%;
    width: 100px;
    height: 100px;
    @include image-background;
}

@keyframes bouncing {
    0% {
        bottom: 0;
        box-shadow: 0 0 5px #000;
    }
    100% {
        bottom: 50px;
        box-shadow: 0 50px 50px #000;
    }
}


/*extra6*/

@mixin extra-square6 {
    padding-top: 100px;
    height: 100px;
    width: 100px;
    margin: 0 auto;
    @include image-background;
    animation-name: stretch;
    animation-duration: 1.5s;
    animation-timing-function: ease-out;
    animation-delay: 0;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-fill-mode: none;
    animation-play-state: running;
}

@keyframes stretch {
    0% {
        transform: scale(.3);
        @include image-background2;
        border-radius: 100%;
    }
    50% {
        @include image-background3;
    }
    100% {
        transform: scale(1.5);
        @include image-background3;
    }
}


/* Title Animation*/

@mixin animation-of-title {
    h3 {
        animation-duration: 3s;
        animation-name: slidein;
    }
    @keyframes slidein {
        from {
            margin-left: 100%;
            width: 300%
        }
        to {
            margin-left: 0%;
            width: 100%;
        }
    }
}